<h3>CREATE A NEW STORY</h3>

<form action='/stories/new' method="post">
  <input type="string" name="story[title]" placeholder="title"><br>
  <select name="story[genre]">
    <option>Adventure</option>
    <option>Erotic</option>
    <option>FanFiction</option>
    <option>Fantasty</option>
    <option>Historical</option>
    <option>Horror/Supernatural</option>
    <option>Literary</option>
    <option>Mainstream</option>
    <option>Mystery</option>
    <option>Personal</option>
    <option>Religious/Spiritual</option>
    <option>Romance</option>
    <option>Satire/Humor</option>
    <option>Science Fiction</option>
    <option>Thriller/Suspense</option>
    <option>Women's Fiction</option>
    <option>Young Adult</option>
    <option>Other</option>
  </select><br>
  <input type="submit" value="Create!">
</form>