<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <link href="css/bootstrap.css" rel="stylesheet">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Storybook</title>
</head>
<body>
  <div class="welcome" style="text-align: center">
  STORYBOOK
  <div class="sub-welcome">
    <em>A novelest's best friend</em>
  </div>
</div>
  <nav>
        <% if current_user %>

    <ul class="nav masthead-nav">
      <li><a href="/">HOME</a></li>
      <li><a href="/">STORIES</a></li>
      <li><a href="#">FRIENDS</a></li>
      <li><a href=<%="/users/#{session[:user_id]}/edit"%>>ACCOUNT</a></li>
      <li><a href="/logout">LOGOUT</a></li>
    <% end %>
  </ul>
<!--   <form id="searchbox" action="">
    <input id="search" type="text" placeholder="Type here">
    <input id="submit" type="submit" value="SEARCH">
</form> -->

  </nav>

  <%= yield %>
  <footer>
    Made by Christopher Mamian
  </footer>
</body>
</html>