<!-- <div class="welcome" style="text-align: center">
  STORYBOOK
  <div class="sub-welcome">
    <em>A novel writer's best friend</em>
  </div>
</div> -->

<div class="container" style="text-align: center">
  <h4>Keep Writing</h4>
  <form action="/login" method="post">
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="Sign In">
  <form>
  <p>
  <a href="/users/new">Not a user yet? Sign up!</a>
</div>