<div class="container">
  <h3>Join StoryBook!</h3>

  <h4>Sign Up!</h4>
  <form action="/users/new" method="post">
    <input type="string" name="user[name]" placeholder="name"><br>
    <input type="email" name="user[email]" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="Sign Up">
  <form>
  <p>
  <a href="/">Already a user? Sign in!</a>
</div>