<div class="container" style="text-align: center">
  <h2>To stream music on Storybook, you must connect a SoundCloud account. Create a playlist on your account called "StoryBook" and fill it with all your favorite writing songs! </h2>


<h1><a href="/soundcloud">Connect!</a></h1>
</div>